@* A Card to allow adding a new timezone to track. *@

@using BlazorUtils.FormControls.Typeahead
@using Microsoft.Extensions.Logging

@inject ILogger<AddTimezoneCard> Logger;

<div class="card text-white bg-success mb-3" style="min-width: 20rem; max-width: 25rem;">
    <div class="card-header">
        <h4>Add a new Timezone Card</h4>
    </div>
    <div class="card-body">
        @if (_timezonesLoaded)
        {
            <h6 class="card-title">
                Search for the timezone you would like to add.
            </h6>
            <Typeahead Placeholder="Type any part of a timezone name.."
                       AllowOnlySuggestedValues="true"
                       @bind-Suggestions="_timezoneList"
                       SubmitButtonText="Add the selected timezone/s"
                       SubmitCallback="AddTimezoneCards"></Typeahead>
        }
        else
        {
            <button class="btn btn-info" @onclick="LoadTimezones">@_loadButtonText</button>
        }
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<ISet<string>> TimezonesSelectedCb { get; set; }

    private ISet<string> _timezoneList = new HashSet<string>();

    private bool _timezonesLoaded = false;
    private string _loadButtonText = "Load the timezones to search";

    private async Task LoadTimezones()
    {
        _loadButtonText = "Loading..";

        // This operation takes time, so don't block on it
        await Task<ISet<string>>.Run(() =>
        {
            _timezoneList = TimeZoneInfo.GetSystemTimeZones().ToList().
                    ConvertAll<string>((tz) => { return tz.DisplayName; }).ToHashSet();
            _timezonesLoaded = true;
        });
    }

    private void AddTimezoneCards(ISet<string> timezoneIds)
    {
        if (TimezonesSelectedCb.HasDelegate)
        {
            TimezonesSelectedCb.InvokeAsync(timezoneIds);
        }
    }
}