
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">TimeUtilities</a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse"
         id="navbarSupportedContent" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-timer" aria-hidden="true"></span> Now
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="trivia">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Time Trivia
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="about">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> About
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="login">
                    <AuthorizeView>
                        <Authorized>
                            <span class="oi oi-account-login" aria-hidden="true"></span> @context.User.Identity.Name
                        </Authorized>
                        <NotAuthorized>
                            <span class="oi oi-account-login" aria-hidden="true"></span> Login
                        </NotAuthorized>
                        <Authorizing>
                            <span class="oi oi-account-login" aria-hidden="true"></span> Authorizing..
                        </Authorizing>
                    </AuthorizeView>
                </NavLink>
            </li>
        </ul>
    </div>
</nav>

@code
{
    [Parameter]
    public bool CollapseNavMenu { get; set; }

    [Parameter]
    public EventCallback<bool> CollapseNavMenuChanged { get; set; }

    private string NavMenuCssClass => CollapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        CollapseNavMenu = !CollapseNavMenu;
        CollapseNavMenuChanged.InvokeAsync(CollapseNavMenu);
    }
}
