@page "/about"

@using BlazorUtils.JsInterop

@inject IJSRuntime JSR

<h4>References</h4>
<p><a href="https://en.wikipedia.org/wiki/ISO_8601">https://en.wikipedia.org/wiki/ISO_8601</a></p>

<br />

<h4>Attributions</h4>
<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

<br />
<br />

<h4>Contact</h4>
Saurabh Srivastava
<br />
sobu86@outlook.com

<br />
<br />
<br />

<h4>Install TimeUtilities as a PWA</h4>
@if (IsPwaInstalled)
{
    <button type="button" class="btn btn-success" style="min-width: 20em;">
        TimeUtilities PWA is installed !
        <br />
        (Progressive Web App)
    </button>
}
else
{
    <button type="button" class="btn btn-info" style="min-width: 20em;"
            @onclick="InstallPwaButtonClick">
        Trigger PWA Install
        <br />
        (Progressive Web App)
    </button>
}

@code {

    private bool IsPwaInstalled = false;

    protected override async Task OnInitializedAsync()
    {
        JsInterop.JSR = JSR;
        IsPwaInstalled = await JsInteropPwaUtils.Instance?.IsPwaInstalled();
    }

    private async Task InstallPwaButtonClick()
    {
        IsPwaInstalled = await JsInteropPwaUtils.Instance?.IsPwaInstalled();

        if (!IsPwaInstalled)
        {
            JsInteropPwaUtils.Instance?.ShowPwaInstallPrompt();
        }
    }
}