@page "/"
@using System.Timers

<h4>Time Constants</h4>
<p>
    <b>Unix Epoch: </b> @unixEpoch
</p>
<p>
    <b>GPS Epoch: </b> @gpsEpoch
</p>
<br>

<h4>Current Time</h4>
<p>
    <b>UTC Now: </b> @utcNow
</p>

<p>
    <b>UTC Now Milliseconds: </b> @utcNowMillis
</p>

<p>
    <b>UTC Now Seconds: </b> @(utcNowMillis/1000)
</p>

<p>
    <b>GPS Now Seconds: </b> @(gpsNowMillis/1000)
</p>
