@page "/"

@using Microsoft.Extensions.Logging
@inject ILogger<Index> loggerr

<h3><BSBadge>Time Constants</BSBadge></h3>
<p>
    <b>Unix Epoch: </b> @unixEpoch
</p>
<p>
    <b>GPS Epoch: </b> @gpsEpoch
</p>
<br>

<h4>Current Time</h4>
<p>
    <b>UTC Now: </b> @utcNow
</p>

<p>
    <b>UTC Now Seconds: </b> @(utcNowMillis / 1000)
</p>

<p>
    <b>GPS Now Seconds: </b> @(gpsNowMillis / 1000)
</p>

<br />

@code
{
    int clickedTimes = 0;
    void Click(MouseEventArgs e)
    {
        Console.WriteLine($"Material button clicked {++clickedTimes} times");
    }
}
