@page "/user"

@using BlazorUtils.Firebase
@using Microsoft.Extensions.Logging
@using System.Text.Json

@inject IFirebaseGoogleAuthService GoogleAuth
@inject ILogger<User> Logger

<button class="btn btn-info" @onclick="TriggerSignIn">Sign In</button>
<button class="btn btn-info" @onclick="TriggerSignOut">Sign Out</button>
<button class="btn btn-info" @onclick="GetUserInfo">Get User Info</button>

<br/><br/>
<div class="container">
    <p>
        @UserInfo
    </p>
</div>

@code {

    private string UserInfo { get; set; }

    async void TriggerSignIn()
    {
        await GoogleAuth.SignInWithPopup(new HashSet<string>());
        GetUserInfo();
        StateHasChanged();
    }
    async void TriggerSignOut()
    {
        await GoogleAuth.SignOut();
        GetUserInfo();
        StateHasChanged();
    }
    async void GetUserInfo()
    {
        FirebaseGoogleAuthResult.GoogleAuthUser user = await GoogleAuth.GetCurrentUser();
        if (user != null && user.uid != null)
        {
            UserInfo = JsonSerializer.Serialize<FirebaseGoogleAuthResult.GoogleAuthUser>(user);
        }
        else
        {
            UserInfo = "User Not Signed In";
        }
        StateHasChanged();
    }
}
